
html, body {
  background-color: #E6EFE9;
  height:100%;
}

h1{
  font-size: 74px;
  font-family: "Georgia, serif";
  margin-top:0px;
  margin-bottom:20px;
}

p {
  font-size:16px;
  font-family: "Courier New";
  font-weight: normal;
}

a{
  font-size:22px;
  font-family: "Georgia, serif";
  font-weight: bold;
  font-style: italic;
  background-color: #FFF9F4;
  color: #000;
  text-decoration: none;
  padding:2px;
}

a:hover{
  color: #FF5700;
  text-decoration: underline;

}

.main-wrapper{
  display:flex;
  flex-direction:row;
  width:100%;
  height:100%;
  justify-content: center;
  align-items:flex-start;
}

.homepage-content{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  order:2;
  flex-basis:auto;
  height:100%;
  padding-left:10%;
}

.header{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.content{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width:90%;
}

.menu-mobile{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin:20px 0px 0px 0px;
}

.gradiant-box{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  flex-basis:auto;
  order:1;
  height:100%;
  width:8px;
}
.gradiant{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  flex-basis:auto;
  height:75%;
  width:8px;
  background-image: linear-gradient(#6374F2, #FFE5CF);
}

.menu{
  display:none;
  flex-direction:column;
  justify-content: center;
  align-items:flex-start;
  text-align: left;
  flex-basis:auto;
  order:3;
  height:100%;
  width:0%;
  margin-left:20px;
}

@media only screen and (min-width: 800px){
h1{
  font-size: 90px;
}

p{
  font-size:18px;
}

a{
  font-size: 24px;
}

.main-wrapper{
  width:70%;
}

.header{
  width:90%;
}

.homepage-content{
  order:1;
  width:100%;
}

.menu-mobile{
  display: none;
}

  .gradiant-box{
    order:2;
  }

  .gradiant{
    height:45%;
    margin-left:30px;
    margin-right:20px;
  }

    .content{
      width:70%;
    }

    .menu{
     display: flex;
     width:30%;
    }
}
